.button {
  border: none;
  border-radius: .4rem;
  background: #fb1;
  color: hsl(36, 98%, 23%);
  padding: .8rem 1.2rem;
  transition: box-shadow .1s;
  min-width: 8rem;

  &:hover, &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  }

  &:disabled {
    opacity: .5;
  }
}